@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b068e9), to(#6463e7));
  background-image: linear-gradient(to bottom, #b068e9, #6463e7);
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  width: 950px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 509px;
}

.container .logo {
  width: 50%;
  background-image: url(../images/illustration-woman-online-desktop.svg);
}

.container .faqs {
  margin-top: 65px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .faqs h1 {
  font-size: 32px;
}

.container .faqs .faq-entry {
  position: relative;
}

.container .faqs .faq-entry img.arrow {
  position: absolute;
  right: 10px;
  top: 0px;
}
