@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
// Variables

$background-image: linear-gradient(to bottom, #b068e9, #6463e7);
$box-background-color: #ffffff;
$line-color: #e8e8ea;
$question-color: #4b4c5f;
$selected-question-color: #1e1f36;
$answer-color: #787887;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: $background-image;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  width: 59.375rem;
  margin-top: 8.125rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.625rem;
  background-color: $box-background-color;
  display: flex;
  height: 31.8125rem;

  .logo {
    width: 50%;
    background-image: url(../images/illustration-woman-online-desktop.svg);
  }

  .faqs {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    h1 {
      margin-top: 65px;
      margin-bottom: 45px;
      font-size: 2rem;
    }

    .faq-entry {
      position: relative;
      margin-right: 95px;
      font-size: 14px;
      font-weight: 400;
      padding-top: 18px;
      padding-bottom: 15px;
      border-bottom: 1px solid $line-color;

      img.arrow {
        position: absolute;
        right: 0.625rem;
        top: 22px;
        transition: all 0.3s ease-in;
      }

      img.arrow.selected {
        transform: rotate(180deg);
      }

      .question {
        color: $question-color;
      }

      .question.selected {
        color: $selected-question-color;
        font-weight: 700;
      }
      .answer {
        display: none;
      }

      .answer.selected {
        display: block;
        margin-top: 11px;
        color: $answer-color;
      }
    }
  }
}
